[Unit]
Description=Jetstream Telemetry Logger
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
# Ensure you use identical paths where your executable and makefile output live!
ExecStart=/home/vgzoidis/telemetry_logger
WorkingDirectory=/home/vgzoidis

# This restart policy brings it back up if it crashes, reboots, or OOMs.
Restart=always
RestartSec=3

User=vgzoidis
Group=vgzoidis

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
